*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-img{
    background-image: url(Images/photo1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: block;
}
.hero-wrapper{
    color: #f6acff;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-10%, -50%);
}
.hero-wrapper h1{
    font-size: 70px;
    font-weight: bold;
    text-align: left;
    color: rgb(222, 50, 50);
    margin-left: 55px;
}
.hero-wrapper p{
    text-align: center;
    font-size: 20px;
    width: 600px;
    margin-left: -95px;
}
.hero-wrapper .form{
display: block;
width: 100%;
margin-left: -75px;
margin-top: 15px;
}
.hero-wrapper .form input{
    border-radius: 30px;
    width: 70%;
    height: 35px;
    outline: none;
    border: none;
    margin-left: 115px;
}
.hero-wrapper .form input::placeholder{
    padding-left: 30px;
}
.hero-wrapper .form button{
    margin-top: 15px;
    width: 150px;
    height: 50px;
    margin-left: 215px;
    background-color: #5f00ff;
    font-weight: bold;
    color: #e96b6b;
    outline: none;
    border: none;
    border-radius: 30px;
    transition: 0.5s;
}
.hero-wrapper .form button:hover{
    background-color: transparent;
    border: 2px solid black;
}
.product{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.product-list{
    float: left;
    width: 33.33%;
}
.product-list h2{
 margin-top: 5px;
 text-align:center
}
.product-list p{
    text-align: center;
    width: 440px;
    border-radius: 1px dotted rgb(67, 30, 30);
    margin-top: 5px;
}
.product-list img{
    border: 5px solid rgb(237, 202, 146);
    box-shadow: 0 0 10px 5px #2c122f;
    margin-left: 120px;
}
