/* Alternative way of importing another style or css in your current css file, other option is to add it as a link stylesheet in your html file */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap'); */

/* Apply below to all elements in the page */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* Avoids the box-model issue and makes sure the width of the container you provide does not get streched if you add margin, padding, border to the container. */
    font-family: "Roboto", sans-serif;
    outline: none;
    border: none;
    text-decoration: none; /* Removes underline from anchor tag */
    text-transform: capitalize;
    overflow: hidden; /* clip off the extra text which going out of the text */
    scroll-behavior: smooth; /* when scrolling will happen it should have smooth effect */
}

/* Style the menu function */
.header{
    position: fixed; /* it will make the menu fixed if u r scrolling down to the page */
    top: 0;
    left: 0;
    right: 0;
    /* background-color: palevioletred; */
    height: 65px;
    z-index: 100; /* Header menu items should be always raised like a 3D view */
}

.header .nav-bar{
    display: flex; /* Making it flex container will help us move items inside it */
}

.header .nav-bar a{
    flex: 1; /* every anchor tag should take equal space in the whole row */
    text-align: center; /* Align the text inside every anchor to horizontally center */
    font-size: 22px;
    line-height: 65px; /* space between two lines, also helps to align element vertically center */
    color: whitesmoke;
}

/* Apply a pseudo selector hover and change the brightness */
.header .nav-bar a:hover{
    filter: brightness(0.8);
}

/* Apply different background color on each anchor menu item */
.header .nav-bar a:nth-child(1){
    background-color: rgb(241, 61, 61);
}
.header .nav-bar a:nth-child(2){
    background-color: rgb(245, 176, 48);
}
.header .nav-bar a:nth-child(3){
    background-color: rgb(242, 242, 77);
}
.header .nav-bar a:nth-child(4){
    background-color: rgb(55, 136, 55);
}
.header .nav-bar a:nth-child(5){
    background-color: rgb(67, 67, 251);
}

/* Style the main body section */
.container{
    display: flex;
    width: 500%;
    height: 100vh; /*this will occupy visible screen height*/
}

.container .main-section{
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center; /*aligns the content vertically center*/
    justify-content: center; /*aligns the content horizontally center*/
    font-size: 8vw; /*8 of the total view width*/
    letter-spacing: 0.5rem; /*space between the letters in a word*/
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
}

.container .main-section:nth-child(1){
    background-color: rgb(241, 61, 61);
}
.container .main-section:nth-child(2){
    background-color: rgb(245, 176, 48);
}
.container .main-section:nth-child(3){
    background-color: rgb(242, 242, 77);
}
.container .main-section:nth-child(4){
    background-color: rgb(55, 136, 55);
}
.container .main-section:nth-child(5){
    background-color: rgb(67, 67, 251);
}

/* Apply media queries to adjust styling for different devices = Make it responsive */
@media (max-width: 750px){
    .header .nav-bar a span{
        display: none; /*hide the menu text only show icon upto screen width of 750px*/
    }
}
